.nav{
    height: 62px;
    width: 100%;
    font-size: 16px;

    font-family: "微软雅黑";
}

.nav > li{
    display: inline-block;
    height: 100%;
    width: 150px;
    line-height: 62px;
    text-align: center;
    cursor: pointer;
}

.nav > li:hover {
    color: #2db7f5;
}
