

:global(@font-face) {
	font-family: "iconfont";
	src: url('./assets/font/iconfont.eot'); /* IE9*/
	src: url('./assets/font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
	url('./assets/font/iconfont.woff') format('woff'), /* chrome, firefox */
	url('./assets/font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('./assets/font/iconfont.svg') format('svg'); /* iOS 4.1- */
}

:global(.iconfont) {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

:global(.icon-duihao:before){
	content: "\e623";
}


:global(.icon-duihao1:before){
	content: "\e621";
}


:global(.icon-duihao2:before){
	content: "\e608";
}



:global(*){
    margin: 0;
    padding: 0;
}

:global(html,body){
    width: 100%;
    height: 100%;
}

:global(#root){
    height: 100%;
    background: #EFF4F8;
}


/**	react-contextmenu */



:global(.react-contextmenu){
	min-width: 100px;
	padding: 2px 0;
	margin: 2px 0 0;
	font-size: 14px;
	color: #373a3c;
	text-align: left;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	outline: none;
	opacity: 0;
}


:global(.react-contextmenu.react-contextmenu--visible) {
    opacity: 1;
    pointer-events: auto;
}


:global(.react-contextmenu-item) {
    width: 100px;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
	cursor: pointer;
}


:global(.react-contextmenu-item:hover) {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}




:global(.react-contextmenu-link) {
    display: inline-block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

:global(.react-contextmenu-link.active,
.react-contextmenu-link:hover) {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}
:global(.react-contextmenu-item.submenu > a) {
    padding-right: 27px;
}

:global(.react-contextmenu-item.submenu > a:after) {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

:global(.example-multiple-targets::after ){
    content: attr(data-count);
    display: block;
}















